@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'mapbox-gl/dist/mapbox-gl.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  

  .marker {
  background-image: url("/gif.gif");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.signupcontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: rgb(245, 250, 255);
  padding: 0px 38px 10px 38px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(173, 244, 255, 0.5);
}

.signupcontainer h2,
h1 {
  color: rgb(247, 247, 247);
  margin-bottom: 10px;
}
.featuredItem2-top-top1 {
  color: #000;
}
.Aboutcard {
  width: 50%;

  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #ffffff;
  border-radius: 20px 0px 0px 20px;
  padding-bottom: 5px;
  justify-items: center;
}
.signupcontainer p {
  text-align: center;
}
.signupcard {
  width: 37%;
  min-height: 85vh;
  background: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.asdf {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
input {
  width: 80%;
  padding: 9px 20px;
  border-radius: 20px;
  border: 1px solid #b0b0b0;
}
.signupform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.signupcard button {
  width: 100%;
  background: #545457;
  border: none;
  color: #f7f7ff;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  align-self: center;
}html {
  font-size: calc(16 * 100vw / 1440);
}

.signupheading {
  font-size: 20px;
  width: 90%;
  font-weight: 600;
  color: #000;
  background: #f3f8ff;
  padding: 6px 15px;
  text-align: center;
  border-radius: 20px;
}

.Aboutcard button {
  width: 50%;
  background: #cef4ed;
  border: none;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  align-self: center;
}

@media all and (max-width: 660px) {
  html {
    font-size: calc(16 * 100vw / 400);
  }
}
