@tailwind base;
@tailwind components;
@tailwind utilities;
@import "mapbox-gl/dist/mapbox-gl.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.marker {
  background-image: url("/gif.gif");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.marker1 {
  background-image: url("https://img.icons8.com/external-konkapp-flat-konkapp/64/external-police-car-emergency-services-konkapp-flat-konkapp.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.marker2 {
  background-image: url("https://img.icons8.com/emoji/48/ambulance-emoji.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.marker3 {
  background-image: url("https://img.icons8.com/emoji/48/fire-engine.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
html {
  font-size: calc(16 * 100vw / 1440);
}

@media all and (max-width: 660px) {
  html {
    font-size: calc(16 * 100vw / 400);
  }
}
